# ESPHome build files
.esphome/

# Secrets file
secrets.yaml

# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db